name: ci

permissions:
  contents: read
  id-token: write

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ---------------- SAST -----------------
      - name: Run SAST (Semgrep)
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/ci

      # ---------------- SCA ----------------
      - name: Run SCA (Trivy - filesystem scan)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: fs
          format: table
          ignore-unfixed: true
          severity: CRITICAL,HIGH
          exit-code: 0

      # ---------------- IMAGE IDENTITY ----------------
      - name: Set ECR image name
        id: image
        run: |
          IMAGE=910321623036.dkr.ecr.ap-south-1.amazonaws.com/demo-app
          TAG=${GITHUB_SHA}
          echo "image=$IMAGE" >> $GITHUB_OUTPUT
          echo "tag=$TAG" >> $GITHUB_OUTPUT
      # ---------------- AWS OIDC ----------------
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::910321623036:role/dev-github-actions-ecr-push
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      # ---------------- BUILD & PUSH ----------------
      - name: Build image
        run: |
          docker build -t demo-app:${{ steps.image.outputs.tag }} .

      - name: Tag image
        run: |
          docker tag demo-app::${{ steps.image.outputs.tag }} \
            ${{ steps.image.outputs.image }}:${{ steps.image.outputs.tag }}

      - name: Push image
        run: |
          docker push ${{ steps.image.outputs.image }}:${{ steps.image.outputs.tag }}

      # ---------------- INSTALL TRIVY ----------------
      - name: Install Trivy
        run: |
          TRIVY_VERSION=0.52.2
          curl -sfL https://github.com/aquasecurity/trivy/releases/download/v${TRIVY_VERSION}/trivy_${TRIVY_VERSION}_Linux-64bit.tar.gz -o trivy.tar.gz
          tar -xzf trivy.tar.gz
          sudo mv trivy /usr/local/bin/trivy

      # ---------------- IMAGE SCAN ----------------
      - name: Scan image (signal only)
        run: |
          trivy image ${{ steps.image.outputs.image }}:${{ steps.image.outputs.tag }} \
            --severity CRITICAL,HIGH \
            --ignore-unfixed \
            --exit-code 0

      # ---------------- SBOM ----------------
      - name: Generate SBOM
        run: |
          trivy image ${{ steps.image.outputs.image }}:${{ steps.image.outputs.tag }} \
            --format cyclonedx \
            --output sbom.cdx.json

      # ---------------- DIGEST ----------------
      - name: Resolve image digest
        id: digest
        run: |
          DIGEST=$(docker inspect --format='{{index .RepoDigests 0}}' ${{ steps.image.outputs.image }}:ci)
          echo "digest=$DIGEST" >> $GITHUB_OUTPUT

      # ---------------- COSIGN ----------------
      - name: Install Cosign
        run: |
          curl -sSL https://github.com/sigstore/cosign/releases/latest/download/cosign-linux-amd64
          sudo install cosign-linux-amd64 /usr/local/bin/cosign

      - name: Generate Cosign key (demo)
        run: |
          cosign generate-key-pair

      - name: Sign image
        run: |
          cosign sign --key cosign.key $DIGEST
