name: ci


on:
  push:
    branches: ["main"]
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4


      - name: build placeholder
        run: echo "ci is running"

      - name: Run SAST (semgrep)
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/ci

      - name: Run SCA (Trivy - filesystem scan)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: fs
          format: table
          ignore-unfixed: true
          severity: CRITICAL,HIGH
          exit-code: 0

      - name: run Scan container image (Trivy)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: demo-app:ci
          format: table
          severity: CRITICAL,HIGH
          ignore-unfixed: true
          exit-code: 0

