name: ci


on:
  push:
    branches: ["main"]
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4


      - name: build placeholder
        run: echo "ci is running"

      - name: Run SAST (semgrep)
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/ci

      - name: Run SCA (Trivy - filesystem scan)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: fs
          format: table
          ignore-unfixed: true
          severity: CRITICAL,HIGH
          exit-code: 0

      - name: Install Trivy
        run: |
          sudo apt-get-update 
          sudo apt-get install -y wget
          wget -q0 - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo "deb https://aquasecurity.github.io/trivy-repo/deb stable main" | sudo tee /etc/apt/sources.list.d/trivy.list

          sudo apt-get update
          sudo apt-get install -y trivy
      - name: Scan container image (trivy CLI)
        run: |
          trivy image demo-app:ci \
          --severirty CRITICAL,HIGH \
          --ignore-unfixed \
          --exit-code 0
