name: ci


on:
  push:
    branches: ["main"]
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4


      - name: build placeholder
        run: echo "ci is running"

      - name: Run SAST (semgrep)
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/ci

      - name: Run SCA (Trivy - filesystem scan)
        uses: aquasecurity/trivy-action@0.24.0
        with:
          scan-type: fs
          format: table
          ignore-unfixed: true
          severity: CRITICAL,HIGH
          exit-code: 0

      - name: build container image
        run: |
          docker build -t demo-app:ci .

      - name: Install Trivy
        run: |
          TRIVY_VERSION=0.52.2
          curl -sfL https://github.com/aquasecurity/trivy/releases/download/v${TRIVY_VERSION}/trivy_${TRIVY_VERSION}_Linux-64bit.tar.gz -o trivy.tar.gz
          tar -xzf trivy.tar.gz
          sudo mv trivy /usr/local/bin/trivy
          trivy --version

      - name: Scan container image (Trivy CLI)
        run: |
          trivy image demo-app:ci \
            --severity CRITICAL,HIGH \
            --ignore-unfixed \
            --format table \
            --exit-code 0

      - name: Generate SBOM (cycloneDX)
        run: |
         trivy image demo-app:ci \
         --format cyclonedx \
         --output sbom.cdx.json

      - name: install Cosign
        run: |
         curl -LO https://github.com/sigstore/cosign/releases/latest/download/cosign-linux-amd64
         sudo install cosign-linux-amd64 /usr/local/bin/cosign

      - name: Generate Cosign key (demo only)
        run: |
          cosign generate-key-pair

      - name: Sign image 
        run: |
          cosign sign --key cosign.key demo-app:ci


#      - name: Install Trivy
 #       run: |
  #        docker build -t demo-app:ci .
   #       sudo apt-get update 
    #      sudo apt-get install -y wget
     #     wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
      #    echo "deb https://aquasecurity.github.io/trivy-repo/deb stable main" | sudo tee /etc/apt/sources.list.d/trivy.list
#
 #         sudo apt-get update
  #        sudo apt-get install -y trivy
   #   - name: Scan container image (trivy CLI)
    #    run: |
     #     trivy image demo-app:ci \
      #    --severity CRITICAL,HIGH \
       #   --ignore-unfixed \
        #  --exit-code 0
